Makefile
*.make
*.creator.*
*.user*
*.orig
*.log
*.err
*.trace
obj/*
bin/*
build/*
data/*/old/*
data/test_models/*
deps/*
doc/*
*.config
*.creator
*.files
*.includes
*.workspace
*.cbp*
*.layout*
*.depend
windows_deps/*
*.vcxproj*
*.sln
.directory
ForgeExport.h
